@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik+Gemstones&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
   

    
}


header {
    font-family: rubik gemstones, sans-serif;
}
 nav{
    font-family: rubik gemstones, sans-serif;
    
 }

 body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
 }

 /* logo and headings*/
 h1, h2 {
    font-family: rubik gemstones,sans-serif;
    color: #2a2a2a;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    

 }
 
 #logo {
    float: left;
    font-size:280%;
 }

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {

    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}