@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik+Gemstones&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background: -o-linear-gradient();
    
   

    
}


header {
    font-family: rubik gemstones, sans-serif;
    color: purple;
}
 nav{
    font-family: lato, sans-serif;
    color:#3a3a3a;
    
 }

 body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
 }

 /* logo and headings*/
  h2 {
    font-family: lato,sans-serif;
    color: #2a2a2a;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    

 }
 
 #logo {
    float: left;
    font-size:280%;
 }

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {

    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* math image */

#image-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;

}

#math-image {
    height: 900px;
    width: 100%;
    background: url("../images/—Pngtree—cartoon\ math\ learning\ education\ illustration_6529774\ \(1\).png") no-repeat;
  
}

/* overview */

#overview {
    float: right;
    
    
}