@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik+Gemstones&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    font-family: rubik gemstones, sans-serif;
    font-weight: 300;
}

nav {
    font-family: rubik gemstones, sans-serif;
    font-weight:300;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
}