@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik+Moonrocks&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

   body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
 } 

 /* heading and logo */ 
 h1 {
    font-family: rubik moonrocks, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8B008B;
 }

 #logo {
    float: left;
    font-size: 260%;
 }

 /* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    font-family: lato, sans-serif;
    color: #3a3a3a;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #8B008B;
}

.active {
    border-bottom: 1px solid #8B008B;
}

/* main-image */

#main-image {
    height: 700px;
    width: 100%;
    background: url("../images/40513\ \(2\).jpg") no-repeat center center;

 /* animation zoom effect on loding page */

 animation-name: main-zoom;
 animation-duration: 5s;
 animation-fill-mode: forwards;

}

#image-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}




 /* create the level of zoom for mainimage */

@keyframes main-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);

    }
}
