@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik+Moonrocks&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */
h1,
h2 {
    font-family: rubik moonrocks, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8B008B;
}

#logo {
    float: left;
    font-size: 260%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    font-family: oswald, sans-serif;
    color: #3a3a3a;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #8B008B;
}

.active {
    border-bottom: 1px solid #8B008B;
}

/* main-image  and cover text*/

#main-image {
    height: 800px;
    width: 100%;
    background: url("../images/40513\ \(2\).jpg") no-repeat center center;

    /* animation zoom effect on loding page */

    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#image-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#cover-text,
#cover-text h2 {
    color: #8B008B;
}



#cover-text p {
    font-size: 70%;
    font-family: lato sans-serif;



}







/* create the level of zoom for mainimage */

@keyframes main-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);

    }
}


/* page ethos */

#page-ethos {
    height: 600px;
    background-color: bisque;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {

    width: 33%;
    margin: 0 auto;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

hr {
    border: none;
    border-top: 1px dotted #8B008B;
    margin: 5px auto;
}


.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px;
    font-size: 250%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-width: 1px;
    margin: 0 auto;
    border-style: dotted;
    border-radius: 20%;

}

#circle-cover-bg {
    background: url("../images/38920\ \(1\).jpg") no-repeat center center;
    height: 100%;
    border-radius: 20%;



}

/* about us */

#about-us {
    font-size: 150%;
    text-align: center;
    padding-top: 3px;
}

#Schedule {
    font-size: 100%;
    text-align: center;
    color: #3a3a3a;
    margin: 1px;
    padding: 1px;

}

table,
th,
td {
    border: 2px solid #3a3a3a;
    padding: 0.5rem;
    margin: 0 auto;


}

/* signup form */


input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


button {
    background-color: rgba(47, 117, 0, 0.38);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


.cancelbtn {
    padding: 14px 20px;
    background-color: rgba(248, 0, 26, 0.38);
}

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}


.container {
    padding: 16px;
    text-align: center;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container p {
    font-weight: 200px;
    font-size: 140%;
    color: #8B008B;
}





/* footer */

#contact {
    text-align: center;
    padding: 1%;
}

#contact p {
    font-size: 130%;
    margin-bottom: 2px;
}

footer {

    height: 150px;
}

.social-net {
    text-align: center;
}

.social-net>li {
    display: inline;
}

.social-net i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}