@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik+Moonrocks&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

   body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
 } 

 /* heading and logo */ 
 h1 {
    font-family: rubik moonrocks, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8B008B;
 }

 #logo {
    float: left;
    font-size: 260%;
 }
